.container {
    display: flex;
    flex-direction: column;
    width: 240px;
    padding: 1em;
    height: -webkit-fill-available;
    background-color: #fff;
    overflow-y: auto;
    transition: transform 1s;
    position: fixed;
    z-index: 2;
    border-right: dashed 0.1em #CCC;
}
.showBtn {
    top: 7em;
    z-index: 1;
    position: absolute;
    background: #FFF;
    color: var(--txt-light);
    transition: all .2s;
}
.title {
    display: flex;
}
.logoContainer {
    margin: 1em;
    margin-left: 0;
}
.logoContainer + button {
    background: #FFF;
    color: var(--txt-light);
    padding: 0;
    transition: all .2s;
    height: fit-content;
    margin: auto;
}
.logoContainer + button:hover {
    color: var(--btn-normal);
}
.container > button {
    display: flex;
    margin: 1em 0;
    padding: 1em 1em;
    border-radius: 6px;
    background: #FFF;
    color: var(--txt-light);
    transition: all .2s;
}

.showBtn:hover,
.container > button:hover,
.container > button.selected {
    background: var(--btn-normal);
    color: #FFF;
}
.container button svg {
    margin-right: 1em;
}
