.container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 2em;
    width: 100%;
    transition: all .2s;
}
.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15em;
    transition: all .2s;
}
.profile div + div {
    display: flex;
    align-items: center;
}
.profile p {
    margin: 0;
}
.profilePic {
    position: relative;
    width: 4em;
    height: 4em;
    overflow: hidden;
    border-radius: 50%;
}

.searchContainer {
    background-color: #FFF;
    border-radius: 4px;
    padding: 1em;
}
.searchContainer input {
    border: none;
    outline: none;
}

@media (max-width: 550px) {
    .container {
        padding: 2em 0;
    }
}
@media (max-width: 450px) {
    .searchContainer {
        display: none;
    }
    .profile {
        margin: auto;
    }
}