.container {
    background-color: var(--bg-normal);
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
}
.main {
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
    width: 100%;
}