.container {
    max-width: 900px;
    width: 80%;
    margin-top: 5em;
}

.container section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title b {
    color: var(--btn-dark);
}
.title p {
    text-align: center;
    max-width: 600px;
}
.title > div {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-bottom: 2em;
}

.imgContainer {
    height: 400px;
    position: relative;
}

.container section.enterprise {
    flex-direction: row;
    justify-content: space-between;
    margin: 3em 0;
}

.qualities section {
    background: #111827;
    width: 100vw;
    padding: 5em 0;
    
    color: #FFF;
}

.qualities ul {
    display: flex;
}
.qualities li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}
.qualities p {
    max-width: 600px;
    text-align: center;
}
.icon {
    width: 4em;
    height: 4em;
    color: #FFF;
    padding: 1em;
    border-radius: 100%;
    background: var(--btn-dark);
}

.functions {
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}
.functions ul {
    max-width: 100vw;
}
.functions li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.functions h3 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}
.demos {
    margin: 0 1em;
    position: relative;
    overflow: visible;
    width: 30em;
    height: 3em;
}

.team sub {
    margin-top: 3em;
    font-size: x-large;
}

.team h1 {
    margin-top: 0;
}
.team li {
    display: flex;
    align-items: center;
    border-left: solid;
    padding: 1em 0;
    flex: 1;
}
.team li h4 {
    font-size: 20px;
    margin-bottom: 0;
}
.team li span {
    background: var(--btn-dark);
    padding: 0 1em;
    border-radius: 0 4px 4px 0;
    min-width: 100px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2em;
}
.team li span p {
    font-size: xx-large;
    font-weight: 600;
    color: #FFF;
    margin: 0;
    white-space: nowrap;
}

.testimony ul {
    display: flex;
    align-items: center;
}
.testimony li {
    background: var(--btn-gray);
    color: var(--txt-dark);
    padding: 2em;
    margin: 1em;
    max-width: 20em;
}
.testimony b {
    color: var(--green-dark);
}
.testimony li p:first-child::before {
    content: "";
    display: block;
    width: 24px;
    height: 18px;
    margin-top: 12px;
    margin-bottom: 16px;
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2224%22%20height%3D%2218%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M0%2013.481c0-2.34.611-4.761%201.833-7.263C3.056%203.716%204.733%201.643%206.865%200L11%202.689C9.726%204.382%208.777%206.093%208.152%207.824c-.624%201.73-.936%203.578-.936%205.545V18H0v-4.519zm13%200c0-2.34.611-4.761%201.833-7.263%201.223-2.502%202.9-4.575%205.032-6.218L24%202.689c-1.274%201.693-2.223%203.404-2.848%205.135-.624%201.73-.936%203.578-.936%205.545V18H13v-4.519z%22%20fill%3D%22%236163FF%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E);
    background-repeat: no-repeat;
}

.banner {
    background: var(--btn-dark);
    color: #FFF;
    padding: 2em;
}