.container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
}
.container > p {
    margin: 0;
} 
.container div {
    display: flex;
    justify-content: space-between;
    width: 25em;
}